.principal {
  background-color: gray;
  height: 100%;
  width: 100%;
}
.form {
  background-color: lightgrey;
  padding: 1%;
  border-radius: 2%;
  border: 1px black solid;
}
mat-form-field {
  margin: 1%;
  width: 300px;
}
.only_field {
  width: 600px;
}
